language: node_js
node_js:
  - 16
env:
  - JSDOM_VERSION=15 KARMA_VERSION=2
  - JSDOM_VERSION=16 KARMA_VERSION=2
  - JSDOM_VERSION=17 KARMA_VERSION=2
  - JSDOM_VERSION=18 KARMA_VERSION=2
  - JSDOM_VERSION=19 KARMA_VERSION=2
  - JSDOM_VERSION=20 KARMA_VERSION=2
  - JSDOM_VERSION=21 KARMA_VERSION=2
  - JSDOM_VERSION=22 KARMA_VERSION=2
  - JSDOM_VERSION=15 KARMA_VERSION=3
  - JSDOM_VERSION=16 KARMA_VERSION=3
  - JSDOM_VERSION=17 KARMA_VERSION=3
  - JSDOM_VERSION=18 KARMA_VERSION=3
  - JSDOM_VERSION=19 KARMA_VERSION=3
  - JSDOM_VERSION=20 KARMA_VERSION=3
  - JSDOM_VERSION=21 KARMA_VERSION=3
  - JSDOM_VERSION=22 KARMA_VERSION=3
  - JSDOM_VERSION=15 KARMA_VERSION=4
  - JSDOM_VERSION=16 KARMA_VERSION=4
  - JSDOM_VERSION=17 KARMA_VERSION=4
  - JSDOM_VERSION=18 KARMA_VERSION=4
  - JSDOM_VERSION=19 KARMA_VERSION=4
  - JSDOM_VERSION=20 KARMA_VERSION=4
  - JSDOM_VERSION=21 KARMA_VERSION=4
  - JSDOM_VERSION=22 KARMA_VERSION=4
  - JSDOM_VERSION=15 KARMA_VERSION=5
  - JSDOM_VERSION=16 KARMA_VERSION=5
  - JSDOM_VERSION=17 KARMA_VERSION=5
  - JSDOM_VERSION=18 KARMA_VERSION=5
  - JSDOM_VERSION=19 KARMA_VERSION=5
  - JSDOM_VERSION=20 KARMA_VERSION=5
  - JSDOM_VERSION=21 KARMA_VERSION=5
  - JSDOM_VERSION=22 KARMA_VERSION=5
  - JSDOM_VERSION=15 KARMA_VERSION=6
  - JSDOM_VERSION=16 KARMA_VERSION=6
  - JSDOM_VERSION=17 KARMA_VERSION=6
  - JSDOM_VERSION=18 KARMA_VERSION=6
  - JSDOM_VERSION=19 KARMA_VERSION=6
  - JSDOM_VERSION=20 KARMA_VERSION=6
  - JSDOM_VERSION=21 KARMA_VERSION=6
  - JSDOM_VERSION=22 KARMA_VERSION=6
script:
  - npm install jsdom@$JSDOM_VERSION karma@$KARMA_VERSION
  - "[ -e node_modules/karma-jsom-launcher ] || ln -s ../ node_modules/karma-jsom-launcher"
  - npm test
