language: node_js
node_js:
  - "node"
env:
  - JSDOM_VERSION=6  KARMA_VERSION=1
  - JSDOM_VERSION=7  KARMA_VERSION=1
  - JSDOM_VERSION=8  KARMA_VERSION=1
  - JSDOM_VERSION=9  KARMA_VERSION=1
  - JSDOM_VERSION=10 KARMA_VERSION=1
  - JSDOM_VERSION=11 KARMA_VERSION=1
  - JSDOM_VERSION=12 KARMA_VERSION=1
  - JSDOM_VERSION=13 KARMA_VERSION=1
  - JSDOM_VERSION=6  KARMA_VERSION=2
  - JSDOM_VERSION=7  KARMA_VERSION=2
  - JSDOM_VERSION=8  KARMA_VERSION=2
  - JSDOM_VERSION=9  KARMA_VERSION=2
  - JSDOM_VERSION=10 KARMA_VERSION=2
  - JSDOM_VERSION=11 KARMA_VERSION=2
  - JSDOM_VERSION=12 KARMA_VERSION=2
  - JSDOM_VERSION=13 KARMA_VERSION=2
  - JSDOM_VERSION=6  KARMA_VERSION=3
  - JSDOM_VERSION=7  KARMA_VERSION=3
  - JSDOM_VERSION=8  KARMA_VERSION=3
  - JSDOM_VERSION=9  KARMA_VERSION=3
  - JSDOM_VERSION=10 KARMA_VERSION=3
  - JSDOM_VERSION=11 KARMA_VERSION=3
  - JSDOM_VERSION=12 KARMA_VERSION=3
  - JSDOM_VERSION=13 KARMA_VERSION=3
script:
  - npm install jsdom@$JSDOM_VERSION karma@$KARMA_VERSION
  - ln -s ../ node_modules/karma-jsom-launcher
  - npm test
